apiVersion: v1
data:
  APPLICATION_NAME: {{ .Values.application_name | b64enc }}
  PASSWORD: {{ .Values.event_gw_ba_password | b64enc }}
  USERNAME: {{ .Values.event_gw_ba_user | b64enc }}
kind: Secret
metadata:
  creationTimestamp: null
  name: {{ template "bundle.fullname" . }}-event-gw
  labels:
    app: {{ template "bundle.fullname" . }}-event-gw
    component: {{ template "bundle.fullname" . }}-event-gw
type: Opaque
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "bundle.fullname" . }}-event-gw
  labels:
    app: {{ template "bundle.fullname" . }}-event-gw
    component: {{ template "bundle.fullname" . }}-event-gw
data:
  APPLICATION_NAME: {{ .Values.application_name | quote }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app: {{ template "bundle.fullname" . }}-event-gw
  name: {{ template "bundle.fullname" . }}-event-gw
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ template "bundle.fullname" . }}-event-gw
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: {{ template "bundle.fullname" . }}-event-gw
    spec:
      containers:
        - image: gabbi/docusign-event-gw:0.0.5
          imagePullPolicy: "Always"
          args:
            - --verbose=false
            - --basic-auth-enabled=true
            - --username=$(USERNAME)
            - --password=$(PASSWORD)
            - --app-name=$(APPLICATION_NAME)
            - --event-publish-url=http://event-publish-service.kyma-system.svc.cluster.local:8080/v1/events
            - --base-topic=docusign.com
          name: {{ template "bundle.fullname" . }}-event-gw
          ports:
            - containerPort: 8080
              name: http
          resources: {}
          envFrom:
            - secretRef:
                name: {{ template "bundle.fullname" . }}-event-gw
                optional: false
status: {}
---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: {{ template "bundle.fullname" . }}-event-gw
  name: {{ template "bundle.fullname" . }}-event-gw
spec:
  selector:
    app: {{ template "bundle.fullname" . }}-event-gw
  ports:
    - name: http
      port: 8080
  type: ClusterIP
---
apiVersion: gateway.kyma-project.io/v1alpha2
kind: Api
metadata:
  name: {{ template "bundle.fullname" . }}-event-gw
  labels:
    app: {{ template "bundle.fullname" . }}-event-gw
spec:
  hostname: docusign-event-gw-{{ .Release.Namespace }}
  service:
    name: {{ template "bundle.fullname" . }}-event-gw
    port: 8080